* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*Header top -----------------------------------*/
.navigator {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 50%;
}

.navigator > a {
  padding-top: 15px;
  color: gray;
  text-decoration: none;
}

.navigator > a:hover {
  color: black;
}
/*Header top/ -----------------------------------*/


/*main-content*/

/*banner*/
.banner {
  max-width: 100%;
  height: 944px; 
  position: relative;

}

.banner-content {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner-content > button {
  width: 180px;
  height: 60px;
  background: #fff;
  border: 2px solid black;
  margin-top: 25px;
}

.banner-content > button:hover {
  background: rgb(228, 226, 226);
}
/*banner/ */

/*About us*/

.about-us {
  max-width: 100%;
  height: 1333px;
  background: #1d1d1d url(img/bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
}


/*About us/ */

/*main-content/ */

