* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: lightslategray;
}

/*buttons */

.buttons {
    display: flex;
    border: 2px solid blueviolet;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: lightyellow;
    justify-content: space-around;
}

button {
    width: 100px;
    max-height: 100px;
    justify-content: space-between;
}

/*buttons/ */

